@import "reset.css";
@import "global.css";
@import "structure.css";

body{
	background-color: #e5ffff;
}

nav{
	padding: 5px;
}
li{
	display: inline-flex;
	padding: 10px;
}
a{
	text-decoration: none;
	color: #10adad;
}
a:hover{
	color: #2b7070;
}